<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd"
		
		default-autowire="byName" default-autowire-candidates="*" >
   
   <bean id="person1" class="com.practice.entity.Person">
   <property name="id" value="1"></property>
   <property name="name" value="Harshit"></property>
   </bean>
   <context:annotation-config />
   <bean name="contactList" class="com.practice.entity.ContactList">
   <!-- <property name="person" ref="person1"></property>-->
   </bean>
   
   </beans>